{%  extends 'main.html' %}
{% load static %}
{% block content %}







<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <li><a href="/list/"><i class="fa fa-dashboard"></i> My Entries</a></li>
            <li><a href="/logout/"><i class="fa fa-dashboard"></i> Logout</a></li>

            <h3>Add New Entry</h3>

            <form method="POST" class="post-form" >
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="task">Task</label>
                    <input type="text" class="form-control" id="task" name="task" placeholder="Task Name" >
                </div>


                <div class=" form-group">
                    <label class="control-label" for="project">Project</label>


                    <select class="form-control" id="project" name="project">
                        {% for c in project %}
                        <option value="{{ c.id}}">{{ c.project_name }}
                        </option>
                        {% endfor %}
                    </select>

                </div>

                

                <div class="form-group">
                    <label class="control-label" for="startdate">Start Time</label>
                    <input type="datetime-local" class="datepicker" id="startdate" name="startate" value="2000-01-01T00:00:00" placeholder="Enter start time" width="312" />
                    <script>
                        $('#startdate').datetimepicker({ footer: true, modal: true });
                    </script>
                </div>

                <div class="form-group">
                    <label class="control-label" for="enddate">End Time</label>
                    <input type="datetime-local" class="datepicker" id="enddate" name="enddate" value="2000-01-01T00:00:00" placeholder="Enter end time" width="312" />
                    <script>
                        $('#enddate').datetimepicker({ footer: true, modal: true });
                    </script>
                </div>

                



                <button type="submit" class="save btn btn-default">Save</button>
            </form>

            {{form.errors}}
        </div>
    </div>
</div>


{% endblock %}